:root {
    --heading-font-family: 'Playfair Display', serif;
    --default-font-family: 'Poppins', sans-serif;
    --thai-default-font-family: 'Sarabun', sans-serif;
    --primary-color: #163172;
    --secondary-color: #F9F7FE;
    --default-font-color: #272142;
}

.nav-item{
    margin-right: 10px;
}

h1, h2, h3, h5 {
    font-family: var(--heading-font-family), var(--thai-default-font-family);
}

p, .work-contact {
    font-family: var(--default-font-family), var(--thai-default-font-family);
    color: var(--default-font-color);
    opacity: 70%;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.hero {
    text-align: center;
    background-color: var(--secondary-color);
    padding: 160px 20px;
}

.hero p {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    line-height: 54px;
    opacity: 100;
}

.hero h1 {
    font-size: 96px;
}

.hero h4 {
    color: var(--default-font-color);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

.btn-branding {
    background: var(--primary-color);
    border-radius: 4px;
    padding: 18px 30px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.sub-heading {
    font-family: var(--heading-font-family);
    font-weight: 700;
    font-size: 64px;
    line-height: 85px;
}


.btn-launching {
    border-radius: 4px;
    padding: 18px 30px;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 18px;
    border: 1px solid rgba(22, 49, 114, 1)
}

.description {
    padding: 40px 30px 0 0;
}

.content {
    padding: 120px 70px 30px 70px;
}

.content h1, .music-channel-content h1 {
    font-size: 64px;
}

.content h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
}

img {
    padding: 15px;
}

.music-channel-content {
    padding: 0px 200px;
}

.channel-title {
    font-size: 42px;
}

.launch-blog span {
    margin: 10px;
}

.endnote-list {
    font-size: 15px;
}

ul {
    list-style-type: none;
}

.email-link {
    text-decoration: none;
    color: var(--primary-color);
}

footer {
    padding: 40px;
}

footer h5 {
    font-size: 48px;
}

.contact-box {
    background-color: var(--secondary-color);
    padding: 40px;
    margin: 40px;
}

.contact-box .btn-branding {
    position: relative;
    top: 40px;
    right: 20px;
}

.social-links a{
    font-size: 20px;
    color: var(--primary-color);
    text-decoration: none;
}

.social-links i {
    margin-right: 15px;
}

@media (max-width: 992px) {
    .hero h1 {
        font-size: 50px;
    }

    .hero p {
        font-size: 32px;
    }

    .content {
        padding: 80px 20px 10px 20px;
    }

    .content h1, .music-channel-content h1 {
        font-size: 50px;
        text-align: center;
    }

    .content h3 {
        text-align: center;
    }

    .music-channel-content {
        padding: 40px 40px;
    }

    .sub-heading, footer h5 {
        font-size: 42px;
    }
    
    .description {
        padding: 20px 0;
        text-align: center;
    }

    .blog-heading .btn-launching {
        padding: 10px 10px;

    }

    .launch-blog .btn-launching {
        padding: 18px 15px;
    }
}